@import './css/reset.css';
@import './css/vars.css';

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 100%;
  font-family: 'brother-1816', sans-serif;
  font-style: normal;
  font-weight: 300;
  background-color: var(--colour2);
}

.content {
  display: grid;
  width: 100%;
  grid-template-rows: auto 30rem auto  auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'top top top top issue'
    'basic basic basic basic basic'
    'main1 main1 main1 main1 main1'
    'main2 main2 main2 main2 main2'
    'main3 main3 main3 main3 main3'
    'dig dig dig dig dig'
    'main4 main4 main4 main4 main4'
    'var var var var var';
  gap: .1rem;
}

/*_____HEADER_____*/

.navigation, footer {
  background-color: var(--colour2);
}

.navigation {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1px 1fr;
  grid-template-areas:
    'logo'
    'line'
    'nav';
  height: fit-content;
}

.slanted-logo-big {
  grid-area: logo;
  margin: .5rem;
  height: 32px;
}

.line {
  height: 1px;
  background-color: var(--colour1);
  width: 100%;
  grid-area: line;
}

.nav-list {
  grid-area: nav;
  display: flex;
  margin: .7rem .5rem;
  justify-content: space-between;
}

.link {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--colour1);
  border: .1rem solid var(--colour2);
  padding: .2rem .5rem;
}

.link:hover {
  border: .1rem solid var(--colour1);
}

.link:active {
  background-color: var(--colour1);
  color: var(--colour2);
}

/*_____BODONI TOP_____*/

.bodoni-top {
  background-color: var(--colour1);
  padding: 2rem 0;
  grid-area: top;
}

.bodoni-top-element {
  margin-bottom: 1.3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.bodoni-top-element-title {
  color: var(--colour4);
  font-family: 'Bodoni URW', serif;
  font-size: 27vw;
  margin-left: -1.5rem;
}

.title1 {
  font-weight: 100;
}

.title2 {
  font-weight: 400;
  font-style: oblique;
}

.title3 {
  font-weight: 500;
}

.bodoni-top-element-style {
  margin-left: auto;
  margin-right: 1rem;
  margin-top: -1rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.bodoni-top-line {
  background-color: var(--colour5);
  height: 1px;
  width: 5rem;
}

.bodoni-top-element-style-text {
  color: var(--colour5);
  font-size: 14px;
  font-weight: 500;
}

/*_____ISSUE_____*/

.issue {
  background-color: var(--colour1);
  grid-area: issue;
  display: flex;
  flex-direction: column;
}

.issue-number {
  color: var(--colour4);
  font-size: 21px;
  font-weight: 500;
  transform: rotate(90deg);
  margin-bottom: auto;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: -1rem;
}

.issue-barcode {
  transform: rotate(90deg);
  align-self: baseline;
  margin-top: auto;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: -3rem;
}

/*_____BASIC INFO_____*/

.basic-info {
  grid-area: basic;
  background-image: url(assets/portrait-giambattista.gif);
  background-size: cover;
}

.basic-info-text {
  color: var(--colour3);
  font-size: 17px;
  display: flex;
  gap: 1rem;
  margin-left: 2rem;
  margin-top: 18rem;
}

.basic-info-category {
  font-weight: 500;
  font-style: oblique;
  line-height: 2rem;
}

.basic-info-expl {
  font-weight: 200;
  text-shadow: 5px 5px 10px var(--colour3);
  line-height: 2rem;
}

/*_____MAIN CONTENT_____*/

.main-content {
  background-color: var(--colour3);
  padding: 1rem;
}

.main-content1 {
  grid-area: main1;
}

.main-content2 {
  grid-area: main2;
}

.main-content3 {
  grid-area: main3;
}

.main-content4 {
  grid-area: main4;
}

/*_____DIGITAL ERA_____*/

.digital-era {
  background-color: var(--colour1);
  color: var(--colour3);
  padding: 1rem;
  grid-area: dig;
}

h2 {
  color: var(--colour4);
  font-weight: 500;
  font-style: oblique;
  font-size: 30px;
  margin-bottom: 1rem;
  text-align: right;
}

.main-text-expl {
  margin: 1rem;
  font-size: 14px;
  line-height: 1rem;
}

/*_____VARIATIONS_____*/

.bodoni-variations {
  grid-area: var;
  background-color: var(--colour1);
  color: var(--colour5);
  display: flex;
  flex-direction: column;
}

.bodoni-variations-item {
  margin: .5rem 1rem;
  display: grid;
  grid-template-columns: max-content auto max-content;
  grid-template-rows: 1fr;
  gap: .1rem 1rem;
  align-items: center;
}

.variation-img {
  height: 30px;
  align-self: left;
}

.variation-name {
  font-size: 14px;
  width: 100%;
  text-align: right;
}

.variation-line {
  height: 1px;
  background-color: var(--colour1);
  width: 100%;
}

.bodoni-variations-item:hover > .variation-line {
  background-color: var(--colour3);
  box-shadow: 1px 1px 10px 1px var(--colour3);
}

.bodoni-variations-item:hover > .variation-name {
  color: var(--colour3);
}

.bodoni-variations-item:active > .variation-line {
  background-color: var(--colour3);
  box-shadow: 1px 1px 10px 1px var(--colour3);
}

.bodoni-variations-item:active > .variation-name {
  color: var(--colour3);
}

/*_____FOOTER_____*/

.navigation-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'logo nav'
    'mark nav';
}

.slanted-logo-small {
  grid-area: logo;
  margin: 1rem;
}

.footer-nav {
  grid-area: nav;
  text-align: right;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-nav-item {
  font-weight: 500;
  text-decoration: none;
  color: var(--colour1);
  font-size: 18px;
  border: .1rem solid var(--colour2);
  padding: .1rem .5rem;
  line-height: 2.1rem;
}

.footer-nav-item:hover {
  border: .1rem solid var(--colour1);
}

.footer-nav-item:active {
  background-color: var(--colour1);
  color: var(--colour2);
}

.lhlcmt-mark {
  color: var(--colour1);
  opacity: 50%;
  font-size: 11px;
  grid-area: mark;
  margin: .3rem;
  margin-top: auto;
}

/*_____INFINITE SCROLL_____*/

.infinite-scroll {
  display: flex;
  position: relative;
  width: 100%;
  height: 4rem;
  background-color: var(--colour1);
  overflow: hidden;
  z-index: 1;
  margin: .1rem 0;
}

.infinite-scroll-1 {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.infinite-scroll-2 {
  display: flex;
  animation: scrollText 15s infinite linear;
}

.infinite-scroll-text {
  font-family: 'Bodoni URW', serif;
  font-weight: 700;
  font-style: oblique;
  font-size: 33px;
  color: var(--colour5);
  transition: all 3s ease;
}

/* stylelint-disable */
@keyframes scrollText {
  from { transform: translateX(0%); }
  to { transform: translateX(-50%); }
}
/* stylelint-enable */
